<div>
    {{#if isAdmin}}
        <h1>¡Hola {{user.name}} {{user.lastname}} bienvenido!</h1>
    {{#each products}}
        <div>
            <p>Titulo: {{this.title}} - Descripción: {{this.description}} - Precio: ${{this.price}}.00 - Stock: {{this.stock}} - Code: {{this.code}} - ID: {{this.id}}</p>
        </div>
    {{/each}}
    {{else}}
        <h1>Error 401</h1>
        <p>No tienes autorización para acceder a estas funciones</p>
{{!--         <h3>Inicia sesión como administrador para acceder a las funciones</h3>
        <form action="/user" enctype="multipart/form-data" method="post">
            <label>Username</label>
            <input name="username">

            <label>Password</label>
            <input type="password" name="password">

            <input type="submit">
        </form> --}}
    {{/if}}
</div>